@model IEnumerable<onlinepharmacy.Models.product>

@{
    ViewData["Title"] = "catalogue";
}
@{Layout = "~/Views/Shared/_Layout1.cshtml";}
<h1  style="color: #335e90; text-decoration: underline;  font:bold;">catalogue</h1>
<div class="container-fluid">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header"  style="background: #335e90; color: white">
                        @item.name
                    </div>
                    <div class="card-body"  style="color: #335e90;">
                        @*<img src="~/images/@item.imgfile" height="150" /> <br/>*@
                        price:@item.price
                    </div>
                    <div class="card-footer"  style="background: #335e90;">
                         <a  class="btn btn-light" style=" color:#5eba24; text-decoration: underline;"asp-controller="orders" asp-action="Create" asp-route-id="@item.Id">Buy</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


@*<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.category)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
*@